<ion-header>
  <ion-toolbar><ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="imgs">
      <img src="../../assets/img/yuma.jpg">
    </div>
<div>
 <p class="nome">{{user?.firstName}} {{user?.lastName}}</p>
<p>Email:{{user?.email}}</p>
<p>Numero:{{user?.number}}</p>
<p>Data de Aniversário:{{user?.birthday}}</p>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="outline" color="danger" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-footer>
